{{define "body"}} {{ template "menu"}}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="/static/nest.png" width=60%>
            <p class="lead">{{T "Nest client in Go"}}</p>
            <div id="timestamp"></div>
        </div>
        <!--/.div md3 -->

        <div class="col-md-6">

            <br>

            <div id="output"> </div>

            <table class="table table-striped">
                <tr>
                    <td><i class="wi wi-thermometer"></i> {{T "Ambient TemperatureC"}}</td>
                    <td>
                        <div id="ambient_temperature_c"></div>
                    </td>
                    <td>
                        <div id="ambient_temperature_f"></div>
                    </td>
                </tr>
                <tr>
                    <td><i class="wi wi-thermometer"></i> {{T "Away Temperature High C"}}</td>
                    <td>
                        <div id="away_temperature_high_c"></div>
                    </td>
                    <td>
                        <div id="away_temperature_high_f"></div>
                    </td>
                </tr>
                <tr>
                    <td><i class="wi wi-thermometer"></i> {{T "Away Temperature Low C"}}</td>
                    <td>
                        <div id="away_temperature_low_c"></div>
                    </td>
                    <td>
                        <div id="away_temperature_low_f"></div>
                    </td>

                </tr>
                <tr>
                    <td><i class="wi wi-humidity"></i> {{T "Humidity"}} </td>
                    <td>
                        <div id="humidity"></div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon glyphicon-cog"></span> {{T "Device Id"}}</td>
                    <td>
                        <div id="device_id"></div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon glyphicon-cog"></span> {{T "Software version"}}</td>
                    <td>
                        <div id="software_version"></div>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

            <br>
            <div id="refreshtime"></div>


        </div>
        <!--/.div md3 -->

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{{ end }}